{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
		/>
		<link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-touch-icon.png' %}">
		<link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
		<link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}">
		<link rel="manifest" href="{% static 'images/favicon/site.webmanifest' %}">
		<link rel="stylesheet" href="{% static 'css/style.css' %}" />
		<title>GlobyBank -{% block title%}{% endblock title%}</title>
	</head>
	<body>
		<main>
			<section id="side-bar">{% include 'components/sidebar.html' %}</section>
			<section id="main-content">
				{% block content %} {% endblock content %}
			</section>
		</main>
		<script src="{% static 'js/general.js' %}"></script>
		{% block scripts %} {% endblock scripts %}
	</body>
</html>
