{% extends 'base.html' %} {% load static %} {% load user_format %} 
{% block title%} Register {% endblock title %} {% block content %}
<div class="main-content">
	<h1>Dashboard</h1>
	<div class="grid">
		<div class="links">
			<div>
				<a href="{% url 'transfer' %}">
					<i class="uil uil-arrow-circle-right"></i>
					<span>Send money</span>
				</a>
			</div>
			<div>
				<a href="{% url 'withdraw_recharge' action='recharge' %}">
					<i class="uil uil-money-insert"></i>
					<span>Deposit</span>
				</a>
			</div>
			<div>
				<a href="{% url 'withdraw_recharge' action='withdraw' %}">
					<i class="uil uil-money-withdraw"></i>
					<span>Withdraw</span>
				</a>
			</div>
		</div>
		{% include 'components/total_balance.html' %}
		<div class="latest-transaction">
			<h2>Recent Transactions</h2>
			<table>
				<thead>
					<tr>
						<th>N°</th>
						<th>Orderer</th>
                        <th>Amount ({{currency}}) <i class="uil uil-arrow-up-right"></i></th>
                        <th>Receiver</th>
                        <th>Amount ({{currency}}) <i class="uil uil-arrow-down-left"></i></th>
						<th>Day</th>
						<th>Time</th>
						<th>Type</th>
					</tr>
				</thead>
				<tbody>
					{% if transactions %}

					<tr>
						<td>{{transactions.0.0}}</td>
						<td>{{transactions.0.1.orderer|format_user:request.user}}</td>
						<td class="amount amount-sent">
							{{transactions.0.1.amount_sent}}
						</td>
						<td>{{transactions.0.1.receiver|format_user:request.user}}</td>
						<td class="amount amount-received">
							{{transactions.0.1.amount_received}}
						</td>
						<td>{{transactions.0.1.created|date:"D d M Y"}}</td>
						<td>{{transactions.0.1.created|time:"H:i:s"}}</td>
						<td>{{transactions.0.2}}</td>
					</tr>
					{% endif %}
				</tbody>
			</table>
			{% comment%}
			<a href="{% url 'history' %}" class="view-all-link"
				>View All <i class="uil uil-angle-right"></i
			></a>
			{% endcomment%}
		</div>
	</div>
</div>

{% endblock content %} {% block scripts %}
<script src="{% static 'js/code_pin_toggle.js' %}" defer></script>
{% endblock scripts %}
